In [1]:
pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.3.0-cp313-cp313-win_amd64.whl.metadata (2.8 kB)
Downloading pyodbc-5.3.0-cp313-cp313-win_amd64.whl (70 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-5.3.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
pip install unidecode
#is used to fix the impure english (brazilian english)

Collecting unidecode
  Downloading Unidecode-1.4.0-py3-none-any.whl.metadata (13 kB)
Downloading Unidecode-1.4.0-py3-none-any.whl (235 kB)
Installing collected packages: unidecode
Successfully installed unidecode-1.4.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
# importing libraries
import pyodbc
import numpy as np
import plotly.express as px
import pandas as pd
from unidecode import unidecode

In [2]:
server = r'PATEL-PERSONAL-\SQLEXPRESS'
database = "Olist_Project"
connection_string = (
    'Driver={ODBC Driver 17 for SQL Server};'
                      f'Server={server};'
                      f'Database={database};'
                      'Trusted_Connection=yes;'
)
conn = pyodbc.connect(connection_string)

### cleaning customers dataset

In [3]:
query = "SELECT * FROM olist_customers_dataset"
customers = pd.read_sql(query,conn)

C:\Users\DELL\AppData\Local\Temp\ipykernel_20436\873028354.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customers = pd.read_sql(query,conn)

In [4]:
customers.sample(10)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
34469,59211ee5ee45529e88e15aa981413567,a6145625bf90ef8e9c0a051d98b6785a,13801,mogi mirim,SP
21291,36b182c39933d55e307096ccc3fd2970,0a5dadb73145d29f42f703c97c377ae8,11708,praia grande,SP
56512,91b81b40f58d76adb310d312bfe6dbde,e94dfce2c86ef972bfe79efc639f20df,89620,campos novos,SC
95889,f6a861bd3c061ae773db24088455097b,e3087e6bc090e8f46fe899b2b8dbb026,5186,sao paulo,SP
16354,2a0dcdc7103585f9d73bc18888b2e638,bc81bac68e1c2cf1d099bf50ae60e242,13857,estiva gerbi,SP
47229,79e85e4334a170f7aa57a81ce4988de7,35fa3223d01260e93f370bb237cffae8,18500,laranjal paulista,SP
23824,3d52590d7de2640de56a6c562e932006,0d5ab1fc17d8e60b3ee1e8bad41aeaf6,30180,belo horizonte,MG
33306,56091616e7ea94009dae176e74bc4fa5,306cd234c18417db39138e4700ced0b1,20750,rio de janeiro,RJ
98573,fdd462d38129a881c0620cebff8d5484,1743631071053f26bb95b0ca2ca4c5f6,17204,jau,SP
24382,3ecd1b9b4c5f6f6288f6e95485527938,2352f9088c534855ddce9107acf6b331,99700,erechim,RS

In [5]:
sum(customers.duplicated() )

0

In [6]:
# capitalizing first character of each word
customers["customer_city"]= customers["customer_city"].str.title()

In [7]:
customers["customer_state"] = customers["customer_state"].str.upper()

In [8]:
sum(customers["customer_id"].duplicated())
# no duplication,it can identify uniquely

0

In [9]:
sum(customers["customer_unique_id"].duplicated())
# duplications,it can not  identify uniquely, so discard it

3345

In [13]:
customers = customers.drop("customer_unique_id", axis = 1)

In [14]:
customers.sample(10)

,customer_id,customer_zip_code_prefix,customer_city,customer_state
89620,e6428b88ea8513d718bb4199f280cd77,44059,Feira De Santana,BA
49159,7eb4473e48c663f0db4ab0b6666492c3,8696,Suzano,SP
27305,465c85475574bd5c51ee1e4fc4d3ad64,57630,Belem,AL
51565,84f53814bed2afcc48218cd17b23aa80,36170,Pirauba,MG
24826,40007efc8eba921655b88ab47d309e4b,38625,Cabeceira Grande,MG
10960,1c1bfb2cd4aa789067295941c42120ff,65912,Imperatriz,MA
11910,1e9ad002812017f0a6cc88057e7cca9c,39480,Januaria,MG
27746,478a458191801f508d150b40e8dfa5cb,8536,Ferraz De Vasconcelos,SP
29009,4ad4f929392158a3bb76b3ec02a751b2,13045,Campinas,SP
91288,ea7863f999febf4f8c4f2c28ce9e1151,24220,Niteroi,RJ

In [5]:
customers["customer_city"].unique()

array(['osasco', 'itapecerica', 'nova venecia', ..., 'eugenio de castro',
       'capivari do sul', 'anhandui'], shape=(4119,), dtype=object)

### cleaning geolocation dataset

In [90]:
query2 = "SELECT * FROM olist_geolocation_dataset"
geo = pd.read_sql(query2,conn)

C:\Users\DELL\AppData\Local\Temp\ipykernel_13856\1494886522.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  geo = pd.read_sql(query2,conn)

In [91]:
geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  object
 1   geolocation_lat              998827 non-null   float64
 2   geolocation_lng              1000160 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), object(3)
memory usage: 38.2+ MB

In [92]:
geo["geolocation_city"] = geo["geolocation_city"].str.title()

In [93]:
geo.sample(10)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
152270,22640,-22.996689,-43.348305,Rio De Janeiro,RJ
691553,45690,-15.294980,-39.076378,Una,BA
183192,02410,-23.475767,-46.625233,Sao Paulo,SP
477559,24440,-22.830383,-43.057560,Sao Goncalo,RJ
732505,58401,-7.205386,-35.884430,Campina Grande,PB
125582,21230,-22.825285,-43.330276,Rio De Janeiro,RJ
330577,06816,-23.641211,-46.811710,Embu Das Artes,SP
350435,08021,-23.499748,-46.436573,Sao Paulo,SP
153387,22630,-23.010874,-43.329819,Rio De Janeiro,RJ
541600,29960,-18.567312,-39.752144,Conceição Da Barra,ES

In [94]:
geo["geolocation_state"] = geo["geolocation_state"].str.upper()

In [95]:
sum(geo.duplicated())

262154

In [96]:
geo.drop_duplicates(inplace = True)

In [97]:
geo.shape

(738009, 5)

In [98]:
geo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 738009 entries, 0 to 1000161
Data columns (total 5 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   geolocation_zip_code_prefix  738009 non-null  object
 1   geolocation_lat              736845 non-null  float64
 2   geolocation_lng              738006 non-null  float64
 3   geolocation_city             738009 non-null  object
 4   geolocation_state            738009 non-null  object
dtypes: float64(2), object(3)
memory usage: 33.8+ MB

In [99]:
geo.drop(["geolocation_lat","geolocation_lng"],axis = 1, inplace = True)

In [100]:
# fixing the cities

In [101]:
geo["geolocation_city"].nunique()

8011

In [102]:
geo["geolocation_city"] = geo["geolocation_city"].apply(lambda x : unidecode(x))

In [103]:
geo.sample(10)

       geolocation_zip_code_prefix       geolocation_city geolocation_state
111644                       20560         Rio De Janeiro                RJ
160803                       01246              Sao Paulo                SP
512961                       28060  Campos Dos Goytacazes                RJ
998501                       99640           Sao Valentim                RS
375147                       09175            Santo Andre                SP
832543                       79006           Campo Grande                MS
952196                       92010                 Canoas                RS
604937                       35900                Itabira                MG
217380                       03691              Sao Paulo                SP
108064                       20231         Rio De Janeiro                RJ

In [104]:
geo["geolocation_city"].nunique()

5969

In [105]:
def contain_number(s):
    return any(i.isdigit() for i in str(s))

In [106]:
# check if there is any number in a city


geo[geo["geolocation_city"].apply(contain_number)]

,geolocation_zip_code_prefix,geolocation_city,geolocation_state
78063,17970,Sao Joao Do Pau D%26Apos%3Balho,SP
538905,29735,Quilometro 14 Do Mutum,ES
539470,29735,Quilometro 14 Do Mutum,ES
726758,57010,Maceia3,AL
786179,71880,Riacho Fundo 2,DF
823386,78278,Lambari D%26Apos%3Boeste,MT
896733,87365,4O. Centenario,PR
896977,87365,4o Centenario,PR
897217,87365,4o Centenario,PR
977775,96130,Colonia Z-3,RS
977787,96130,Colonia Z-3,RS
977813,96130,Colonia Z-3,RS

In [3]:
import re
def remove_numbers(s):
    return re.sub(r'\d+','', str(s))

In [108]:
geo["geolocation_city"] = geo["geolocation_city"].apply(remove_numbers)

In [109]:
geo[geo["geolocation_city"].apply(contain_number)]
# no numbers is left

Empty DataFrame
Columns: [geolocation_zip_code_prefix, geolocation_city, geolocation_state]
Index: []

In [110]:
geo[geo["geolocation_zip_code_prefix"] == "17970"]

,geolocation_zip_code_prefix,geolocation_city,geolocation_state
77658,17970,Sao Joao Do Pau D'Alho,SP
77680,17970,Sao Joao Do Pau D'Alho,SP
77758,17970,Sao Joao Do Pau D'Alho,SP
77790,17970,Sao Joao Do Pau D Alho,SP
77875,17970,Sao Joao Do Pau D Alho,SP
77926,17970,Sao Joao Do Pau D'Alho,SP
77935,17970,Sao Joao Do Pau D'Alho,SP
77945,17970,Sao Joao Do Pau Dalho,SP
77991,17970,Sao Joao Do Pau D'Alho,SP
78039,17970,Sao Joao Do Pau Dalho,SP
78063,17970,Sao Joao Do Pau D%Apos%Balho,SP
78159,17970,Sao Joao Do Pau D Alho,SP
78177,17970,Sao Joao Do Pau D'Alho,SP
78184,17970,Sao Joao Do Pau D'Alho,SP
78349,17970,Sao Joao Do Pau D'Alho,SP

In [111]:
geo["geolocation_city"]  = geo["geolocation_city"].str.replace("'","",regex = False)

In [112]:
# 1. Define the filter (mask) for readability
mask = geo["geolocation_zip_code_prefix"] == "96130"

# 2. Assign the modified values back to those specific rows in the specific column
geo.loc[mask, "geolocation_city"] = geo.loc[mask, "geolocation_city"].str.replace("-", "", regex=False)

In [113]:
sum(geo.duplicated())

718393

In [114]:
geo[geo["geolocation_zip_code_prefix"] == "87365"]

       geolocation_zip_code_prefix   geolocation_city geolocation_state
896442                       87365  Quarto Centenario                PR
896657                       87365  Quarto Centenario                PR
896733                       87365      O. Centenario                PR
896741                       87365  Quarto Centenario                PR
896947                       87365  Quarto Centenario                PR
896977                       87365       o Centenario                PR
897100                       87365  Quarto Centenario                PR
897201                       87365  Quarto Centenario                PR
897217                       87365       o Centenario                PR
897332                       87365  Quarto Centenario                PR

In [115]:
sum(geo.duplicated())

718393

In [117]:
geo.drop_duplicates(inplace = True)

In [118]:
geo.shape

(19616, 3)

In [119]:
geo[geo["geolocation_zip_code_prefix"] == "17970"]

,geolocation_zip_code_prefix,geolocation_city,geolocation_state
77658,17970,Sao Joao Do Pau DAlho,SP
77790,17970,Sao Joao Do Pau D Alho,SP
77945,17970,Sao Joao Do Pau Dalho,SP
78063,17970,Sao Joao Do Pau D%Apos%Balho,SP

In [120]:
geo.drop([78063,77790,77945 ], inplace=True)

In [121]:
geo[geo["geolocation_zip_code_prefix"] == "17970"]

      geolocation_zip_code_prefix       geolocation_city geolocation_state
77658                       17970  Sao Joao Do Pau DAlho                SP

In [122]:
geo[geo["geolocation_zip_code_prefix"] == "78278"]

       geolocation_zip_code_prefix       geolocation_city geolocation_state
822794                       78278         Lambari DOeste                MT
823107                       78278         Lambari Doeste                MT
823386                       78278  Lambari D%Apos%Boeste                MT

In [123]:
geo.drop([823386,822794], inplace=True)

In [124]:
geo[geo["geolocation_zip_code_prefix"] == "78278"]

       geolocation_zip_code_prefix geolocation_city geolocation_state
823107                       78278   Lambari Doeste                MT

In [126]:
geo[geo["geolocation_zip_code_prefix"] == "71880"]

       geolocation_zip_code_prefix geolocation_city geolocation_state
785986                       71880         Brasilia                DF
786179                       71880    Riacho Fundo                 DF

In [128]:
geo["geolocation_city"]  = geo["geolocation_city"].str.replace("*","",regex = False)
geo["geolocation_city"]  = geo["geolocation_city"].str.replace("...","",regex = False)

In [4]:
### important regular expression
#it keeps only aplphabet and spaces
def keep(s):
    if pd.isna(s):
        return s
    return re.sub(r"[^A-Za-z\s]","",str(s)).strip()

In [131]:
geo["geolocation_city"] = geo["geolocation_city"].apply(keep)

In [133]:
geo.drop_duplicates(inplace = True)

In [135]:
geo.nunique()

geolocation_zip_code_prefix    19015
geolocation_city                5958
geolocation_state                 27
dtype: int64

### olist_products_dataset

In [101]:
query = "SELECT * FROM olist_products_dataset"
product = pd.read_sql(query,conn)

C:\Users\DELL\AppData\Local\Temp\ipykernel_8988\3294393474.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product = pd.read_sql(query,conn)

In [102]:
product.sample(10)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
29037,b62c4aeee36fc51b2bd7fa2e5c3268b2,automotivo,54.0,1120.0,4.0,1350,25.0,10.0,20.0
32103,3736d232d7b439822cdb4cfee973fba0,eletronicos,60.0,487.0,1.0,833,30.0,21.0,21.0
24369,ea7f23122fd317be5901ac4a467d3c6b,fashion_bolsas_e_acessorios,38.0,840.0,3.0,1150,41.0,13.0,42.0
32053,6af944d65385c537dd7fb26787c7dae3,moveis_decoracao,63.0,190.0,2.0,2100,50.0,7.0,50.0
15549,38ef617a023fc4398829dd8c2b9e8be6,cama_mesa_banho,54.0,559.0,1.0,650,16.0,10.0,16.0
6710,62d2cada321a3e5d770d62425a82a6e0,livros_interesse_geral,16.0,1155.0,1.0,500,23.0,2.0,16.0
21431,f7dd5959f7e2832eb2acbfd9c2e2af19,fashion_bolsas_e_acessorios,28.0,673.0,1.0,100,17.0,7.0,12.0
576,687865b021641ba258e6967af27301ff,moveis_quarto,40.0,180.0,1.0,10600,33.0,45.0,40.0
8139,6943351f36278481ceb06a2e182a03d7,utilidades_domesticas,59.0,261.0,6.0,7800,45.0,20.0,45.0
27300,f06f8cd7e0dd398f827c366664e972f1,perfumaria,49.0,702.0,1.0,400,18.0,18.0,12.0

In [104]:
product.drop(columns = ["product_name_lenght","product_length_cm","product_height_cm","product_width_cm"],inplace = True)
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_description_lenght  32341 non-null  float64
 3   product_photos_qty          32341 non-null  float64
 4   product_weight_g            32949 non-null  object
 5   volume                      32949 non-null  float64
dtypes: float64(3), object(3)
memory usage: 1.5+ MB

In [113]:
product["product_weight_g"] = product["product_weight_g"].astype(int)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

In [103]:
product["volume"] = product["product_length_cm"] * product["product_height_cm"] * product["product_width_cm"]

In [114]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_description_lenght  32341 non-null  float64
 3   product_photos_qty          32341 non-null  float64
 4   product_weight_g            32949 non-null  object
 5   volume                      32949 non-null  float64
dtypes: float64(3), object(3)
memory usage: 1.5+ MB

In [7]:
product.sample(10)

,product_id,product_category_name,product_description_lenght,product_photos_qty
25261,d6d73c1fe2e8c0e3e90e2421ffa4b963,informatica_acessorios,1165.0,3.0
14127,754abbe178ba64e121856bdf42c6813d,beleza_saude,560.0,2.0
22681,b9454f6cd728a6e0510e3c4ba8c25263,telefonia,818.0,6.0
13846,e108e472a045d8c76c43ba7f2cf4958a,relogios_presentes,653.0,3.0
13763,ab2d32e4d6a79780270601c807f391d9,eletroportateis,465.0,2.0
11388,3c62f48140fdc7650a63b182fe3b9e4d,moveis_decoracao,832.0,2.0
10167,c9dcb2deb4a49214eb9e72aafd096eef,brinquedos,1089.0,1.0
20131,4efd35570dbaaa27e216bd8bf3ed4cf3,moveis_escritorio,1148.0,1.0
25566,2eb3c639a21ca3eeabf2ec13bf7bc46d,cama_mesa_banho,451.0,7.0
316,ba37ce1b5e0638cf45fd59f63ada0093,moveis_decoracao,470.0,2.0

In [8]:
# the category names are not in english, to translate it we use the table olist_products_category_dataset

In [9]:
product["product_category_name"].nunique()

73

In [10]:
query = "SELECT * FROM olist_products_category_dataset"
translate = pd.read_sql(query,conn)

C:\Users\DELL\AppData\Local\Temp\ipykernel_5048\315663223.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  translate = pd.read_sql(query,conn)

In [11]:
translate.columns = translate.iloc[0]

In [12]:
translate.drop(index = 0, inplace = True)

In [13]:
translate.shape

(71, 2)

In [14]:
translate

0           product_category_name product_category_name_english
1                    beleza_saude                 health_beauty
2          informatica_acessorios         computers_accessories
3                      automotivo                          auto
4                 cama_mesa_banho                bed_bath_table
5                moveis_decoracao               furniture_decor
..                            ...                           ...
67                         flores                       flowers
68             artes_e_artesanato         arts_and_craftmanship
69                fraldas_higiene           diapers_and_hygiene
70  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
71             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [15]:
# since the 2 categories are missing from translate table, chechking for that

In [16]:
product[~product["product_category_name"].isin(translate["product_category_name"])]["product_category_name"].unique()
# this two categories are not in translate table

array([None, 'portateis_cozinha_e_preparadores_de_alimentos', 'pc_gamer'],
      dtype=object)

In [17]:
product["product_category_name"].unique()

array(['perfumaria', 'moveis_decoracao', 'dvds_blu_ray',
       'fashion_bolsas_e_acessorios', 'eletrodomesticos_2', 'automotivo',
       'malas_acessorios', 'utilidades_domesticas', 'cine_foto',
       'ferramentas_jardim', 'construcao_ferramentas_iluminacao',
       'cama_mesa_banho', 'esporte_lazer', 'relogios_presentes',
       'informatica_acessorios', 'livros_interesse_geral',
       'casa_construcao', 'market_place', 'telefonia',
       'construcao_ferramentas_jardim', 'beleza_saude', 'brinquedos',
       None, 'bebes', 'eletrodomesticos', 'telefonia_fixa',
       'eletroportateis', 'fashion_calcados', 'eletronicos',
       'consoles_games', 'papelaria', 'cool_stuff', 'climatizacao',
       'construcao_ferramentas_construcao', 'moveis_escritorio',
       'instrumentos_musicais', 'artigos_de_natal', 'pet_shop',
       'industria_comercio_e_negocios', 'sinalizacao_e_seguranca',
       'portateis_casa_forno_e_cafe', 'fashion_underwear_e_moda_praia',
       'moveis_cozinha_area_de_servico_jantar_e_jardim', 'audio',
       'livros_importados', 'fashion_roupa_masculina',
       'alimentos_bebidas', 'livros_tecnicos', 'artes', 'moveis_sala',
       'construcao_ferramentas_seguranca', 'alimentos', 'moveis_quarto',
       'agro_industria_e_comercio', 'bebidas', 'fashion_esporte',
       'portateis_cozinha_e_preparadores_de_alimentos',
       'seguros_e_servicos', 'casa_conforto', 'pcs',
       'tablets_impressao_imagem', 'fashion_roupa_feminina', 'la_cuisine',
       'moveis_colchao_e_estofado', 'artes_e_artesanato', 'pc_gamer',
       'artigos_de_festas', 'flores',
       'construcao_ferramentas_ferramentas', 'musica',
       'fashion_roupa_infanto_juvenil', 'fraldas_higiene',
       'casa_conforto_2', 'cds_dvds_musicais'], dtype=object)

In [18]:
translate["product_category_name"].unique()

array(['beleza_saude', 'informatica_acessorios', 'automotivo',
       'cama_mesa_banho', 'moveis_decoracao', 'esporte_lazer',
       'perfumaria', 'utilidades_domesticas', 'telefonia',
       'relogios_presentes', 'alimentos_bebidas', 'bebes', 'papelaria',
       'tablets_impressao_imagem', 'brinquedos', 'telefonia_fixa',
       'ferramentas_jardim', 'fashion_bolsas_e_acessorios',
       'eletroportateis', 'consoles_games', 'audio', 'fashion_calcados',
       'cool_stuff', 'malas_acessorios', 'climatizacao',
       'construcao_ferramentas_construcao',
       'moveis_cozinha_area_de_servico_jantar_e_jardim',
       'construcao_ferramentas_jardim', 'fashion_roupa_masculina',
       'pet_shop', 'moveis_escritorio', 'market_place', 'eletronicos',
       'eletrodomesticos', 'artigos_de_festas', 'casa_conforto',
       'construcao_ferramentas_ferramentas', 'agro_industria_e_comercio',
       'moveis_colchao_e_estofado', 'livros_tecnicos', 'casa_construcao',
       'instrumentos_musicais', 'moveis_sala',
       'construcao_ferramentas_iluminacao',
       'industria_comercio_e_negocios', 'alimentos', 'artes',
       'moveis_quarto', 'livros_interesse_geral',
       'construcao_ferramentas_seguranca',
       'fashion_underwear_e_moda_praia', 'fashion_esporte',
       'sinalizacao_e_seguranca', 'pcs', 'artigos_de_natal',
       'fashion_roupa_feminina', 'eletrodomesticos_2',
       'livros_importados', 'bebidas', 'cine_foto', 'la_cuisine',
       'musica', 'casa_conforto_2', 'portateis_casa_forno_e_cafe',
       'cds_dvds_musicais', 'dvds_blu_ray', 'flores',
       'artes_e_artesanato', 'fraldas_higiene',
       'fashion_roupa_infanto_juvenil', 'seguros_e_servicos'],
      dtype=object)

In [19]:
# we can replace 
# portateis_cozinha_e_preparadores_de_alimentos with portateis_casa_forno_e_cafe
# and pc_gamer with pcs in product table
product["product_category_name"] = product["product_category_name"].replace({"portateis_cozinha_e_preparadores_de_alimentos":"portateis_casa_forno_e_cafe",
                                             "pc_gamer" : "pcs"})

In [20]:
product["product_category_name"].nunique()

71

In [21]:
# Merging the two tables to get  the english translation


product = product.merge(translate,on ="product_category_name", how = "left" )

In [22]:
product.drop(columns = "product_category_name",inplace = True)

In [23]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_id                     32951 non-null  object
 1   product_description_lenght     32341 non-null  float64
 2   product_photos_qty             32341 non-null  float64
 3   product_category_name_english  32341 non-null  object
dtypes: float64(2), object(2)
memory usage: 1.0+ MB

In [24]:
product["product_category_name_english"] = product["product_category_name_english"].str.replace("_"," ")

In [25]:
product[product.isnull().any(axis = 1)]

,product_id,product_description_lenght,product_photos_qty,product_category_name_english
55,74ba0cd1f694e0751c7240443e5a038b,NaN,NaN,NaN
98,17b9f231d057710012fe28e5a1ac5186,NaN,NaN,NaN
103,9b6459fd1853c7e4422ff0bdd8184cb3,NaN,NaN,NaN
107,46255a421f244cd985f138a63d77d09c,NaN,NaN,NaN
123,f58e45b16a42a325c144eb2c46a2bc57,NaN,NaN,NaN
...,...,...,...,...
32645,fcde1899043318107d8f0ae043f69bc3,NaN,NaN,NaN
32769,ed000a9f9f04376551e24de254464c9e,NaN,NaN,NaN
32777,dc9f66a56b89e4278d921898a861a29a,NaN,NaN,NaN
32847,6627f494b45486e462e2bb460fcb18e5,NaN,NaN,NaN
32859,9df852a6c839bc3202227666d70c7cae,NaN,NaN,NaN

### olist_sellers_dataset

In [26]:
query = "SELECT * FROM olist_sellers_dataset"
seller = pd.read_sql(query,conn)

C:\Users\DELL\AppData\Local\Temp\ipykernel_5048\3656862883.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  seller = pd.read_sql(query,conn)

In [27]:
seller.head(10)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
5,c240c4061717ac1806ae6ee72be3533b,20920,rio de janeiro,RJ
6,e49c26c3edfa46d227d5121a6b6e4d37,55325,brejao,PE
7,1b938a7ec6ac5061a66a3766e0e75f90,16304,penapolis,SP
8,768a86e36ad6aae3d03ee3c6433d61df,1529,sao paulo,SP
9,ccc4bbb5f32a6ab2b7066a4130f114e3,80310,curitiba,PR

In [28]:
seller.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [29]:
seller["seller_city"] = seller["seller_city"].str.title()
seller["seller_state"] = seller["seller_state"].str.upper()

In [30]:
seller["seller_city"] = seller["seller_city"].apply(keep)

NameError: name 'keep' is not defined

In [ ]:
seller.sample(10)

In [ ]:
sum(seller.duplicated())

### olist_orders_dataset

In [49]:
query = "SELECT * FROM olist_orders_dataset"
orders = pd.read_sql(query,conn)

C:\Users\DELL\AppData\Local\Temp\ipykernel_8988\1442682266.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orders = pd.read_sql(query,conn)

In [50]:
orders.sample(10)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
35012,34225a124aef4e4ad2d5df2c52c57e1d,850a1df97338476bae10e875c6d671cb,delivered,2017-08-07 14:15:03,2017-08-07 14:30:06,2017-08-07 20:53:53,2017-08-21 20:14:31,2017-09-06
9176,98088a1ebcfd4dc68d3fc0bbc0d2868d,a725b2c98789502697eea419bb58c498,delivered,2017-12-19 10:00:55,2017-12-19 10:11:33,2017-12-19 21:13:11,2017-12-26 22:34:50,2018-01-16
65729,84aef74d31968ce8f92e602a660727ff,86d1077190e649904e97b0c33a8ed8e6,delivered,2017-09-13 16:46:39,2017-09-13 17:04:56,2017-09-21 20:03:09,2017-10-03 19:09:35,2017-10-10
88801,820c39d59fdb0ec31f14070eabca7a15,bb236a7c776991c064b371715a445b78,delivered,2018-05-29 11:31:30,2018-05-29 13:31:16,2018-06-04 10:52:00,2018-06-27 18:06:31,2018-07-20
15412,4c6f9b20086e811c15722d15f8becee1,1913c0c2889d3e40b654d65f9611b750,delivered,2018-07-25 19:00:24,2018-07-25 19:10:12,2018-07-26 12:57:00,2018-07-30 18:07:56,2018-08-08
55762,f11844e5101079fad91a7d31842b9ca5,7c16089b205d76e0e6c1b60525521316,delivered,2017-08-14 20:09:26,2017-08-14 21:15:12,2017-08-17 16:57:56,2017-08-28 18:58:41,2017-09-13
78501,c349154248a3236a01cba7d40dbef250,b258506ae96a283a3530790689693e19,delivered,2017-12-04 14:12:13,2017-12-05 04:13:54,2017-12-09 09:58:37,2018-01-11 22:36:06,2018-01-05
29082,3ce5f19b0313072214db579286e3734c,a7755fd28da8f162785c56eda30e357c,delivered,2017-12-21 18:54:43,2017-12-21 19:09:59,2017-12-22 19:25:51,2018-01-05 21:15:26,2018-01-18
63976,969a2e70a6aea318567b09b1b165a52a,987f3e6341b00da1302e1b6867eda73d,delivered,2017-02-06 10:32:17,2017-02-06 10:42:13,2017-02-06 13:47:02,2017-02-15 16:11:43,2017-03-07
48262,8d91588bf6ce83db4198f80c56776af6,f9008af45b5b5be6dcdc3076b7c938cc,processing,2017-03-04 11:07:35,2017-03-04 11:15:18,NaT,NaT,2017-03-27

In [51]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

In [52]:
sum(orders.duplicated())

0

In [53]:
orders["order_status"].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

In [54]:
# remove the rows with  the wrong dates

orders = orders[
((orders["order_approved_at"] - orders["order_purchase_timestamp"]).dt.total_seconds()/ 86400 >= 0)&
((orders["order_delivered_customer_date"] - orders["order_approved_at"]).dt.days >= 0) ]

In [55]:
orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03

In [56]:
orders["order_status"].unique()

array(['delivered', 'canceled'], dtype=object)

In [57]:
to_remove = orders[(orders["order_status"] == 'canceled' ) & (orders["order_delivered_customer_date"].notna())].index

In [58]:
to_remove

Index([2921, 8791, 58266, 59332, 92636, 94399], dtype='int64')

In [59]:
orders = orders.drop(to_remove)

### olist_order_payments_dataset

In [60]:
query = "SELECT * FROM olist_order_payments_dataset"
payments = pd.read_sql(query,conn)

C:\Users\DELL\AppData\Local\Temp\ipykernel_8988\1947956652.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  payments = pd.read_sql(query,conn)

In [61]:
payments

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.330002
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.389999
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.709999
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.779999
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.449997
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.309998
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.800003
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.770000
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.540009
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.580002

In [62]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [63]:
sum(payments.duplicated())

0

In [64]:
payments["payment_sequential"].unique()

array([ 1,  2,  4,  5,  3,  8,  6,  7, 10, 11, 17, 19, 27, 12,  9, 15, 13,
       14, 16, 25, 22, 26, 29, 28, 18, 21, 24, 23, 20])

In [65]:
payments["payment_type"].unique()

array(['credit_card', 'boleto', 'voucher', 'debit_card', 'not_defined'],
      dtype=object)

In [66]:
payments["payment_installments"].unique()

array([ 8,  1,  2,  3,  6,  5,  4, 10,  7, 12,  9, 13, 15, 24, 11, 18, 14,
       20, 21, 17, 22,  0, 16, 23])

In [67]:
# removing the columns,no need
payments.drop(columns = ["payment_sequential","payment_installments"],inplace = True)

In [68]:
payments = payments.groupby(["order_id","payment_type"]).sum("payment_value").reset_index()

In [69]:

# we can join payments table with orders table to reduce space
# before joining the payments table with orders table
# we analyse the order id column in both

In [70]:
payments["order_id"].nunique()

99440

In [71]:
orders["order_id"].nunique()

96395

In [72]:
99440 - 96395
# orders table lacks 3045 orders

3045

In [73]:
# orders table lacks 3045 orders,because of these reasons
# payments table consist the orders of canceled orders
# due to cleaning orders table we loss  3045 orders

In [74]:
payments[~payments["order_id"].isin(orders["order_id"])]

                                order_id payment_type  payment_value
24      0010dedd556712d7bb69a19cb7bbd37a       boleto     111.120003
74      002f19a65a2ddd70a090297872e6d64e      voucher      77.290001
78      00310b0c75bb13015ec4d82d341865a4  credit_card      55.279999
231     00a500bc03bc4ec968e574c2553bed4b  credit_card     555.989990
238     00a99c50fdff7e36262caba33821875a  credit_card      75.290001
...                                  ...          ...            ...
101329  ff0768e3356919b32e3d7f30baecfcfb  credit_card     400.440002
101404  ff358345576214cc9e08488188973c84  credit_card      36.689999
101445  ff536d93ae4214b4d51c2894ccfc569f  credit_card      47.270000
101480  ff7140ba310a4717112d39c0cd0b4062  credit_card      86.930000
101481  ff71fa43cf5b726cd4a5763c7d819a35       boleto      81.889999

[3111 rows x 3 columns]

In [75]:
orders = orders.merge(payments, on = "order_id", how = "inner")
orders.shape

(98575, 10)

In [76]:
orders[orders.isnull().any(axis = 1)]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type,payment_value
72607,2aa91108853cecb43c84a5dc5b277475,afeb16c7f46396c0ed54acb45ccaaa40,delivered,2017-09-29 08:52:58,2017-09-29 09:07:16,NaT,2017-11-20 19:44:47,2017-11-14,credit_card,193.979996

### olist_order_items_dataset

In [77]:
query = "SELECT * FROM olist_order_items_dataset"
items = pd.read_sql(query,conn)

C:\Users\DELL\AppData\Local\Temp\ipykernel_8988\2936347356.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  items = pd.read_sql(query,conn)

In [78]:
items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,45c6469f0136458ebcb1ae34e7a4c3b9,1,2ab3eebb03e660d44470d936c0f20bb6,138dbe45fc62f1e244378131a6801526,2018-07-11 16:31:21,39.900002,16.469999
1,45c653bdeb327fde86e2a52bd3d33e89,1,50d77758742285ff49f340ebdf0df5a7,d91fb3b7d041e83b64a00a3edfb37e4f,2018-06-12 22:11:14,29.900000,18.230000
2,45c72f651e3767b02a9f9938b2cba5d1,1,286bcf62e47dfc1e51cf0d525bd4d1bf,9e6229250fedbe05838fef417b74e7fb,2018-05-11 16:15:36,199.899994,18.309999
3,45c780334bc32cb77559a65c5f171160,1,5ed9eaf534f6936b51d0b6c5e4d5c2e9,8cbac7e12637ed9cffa18c7875207478,2017-12-29 02:39:37,25.000000,23.090000
4,45c780334bc32cb77559a65c5f171160,2,5ed9eaf534f6936b51d0b6c5e4d5c2e9,8cbac7e12637ed9cffa18c7875207478,2017-12-29 02:39:37,25.000000,23.090000
...,...,...,...,...,...,...,...
112645,45c234fbd00219f935e5b58fb7a3ccc5,1,f5badee8a0e679f057ec0ca4f0f32dcb,e0a366315b1b726b6c7832d664c0f530,2018-05-11 20:35:24,109.900002,18.650000
112646,45c353f026b87ee6a62e06be5517e37f,1,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,2018-01-11 14:48:27,86.900002,21.100000
112647,45c435e0e0b054549e2a9237da43853a,1,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,2017-08-10 02:23:58,89.900002,12.130000
112648,45c5f1ab99efdaf580f4d57769aee540,1,423a6644f0aa529e8828ff1f91003690,e59aa562b9f8076dd550fcddf0e73491,2018-07-27 16:45:14,440.000000,32.880001
112649,45c5fceca4f4409e9b086fff7c29e6bb,1,a370599bb36b6aa53a8a4f428440f860,3d871de0142ce09b7081e2b9d1733cb1,2018-04-08 22:09:43,69.000000,23.059999

In [79]:
items[items["order_id"] == "45c780334bc32cb77559a65c5f171160"]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
3,45c780334bc32cb77559a65c5f171160,1,5ed9eaf534f6936b51d0b6c5e4d5c2e9,8cbac7e12637ed9cffa18c7875207478,2017-12-29 02:39:37,25.000000,23.09
4,45c780334bc32cb77559a65c5f171160,2,5ed9eaf534f6936b51d0b6c5e4d5c2e9,8cbac7e12637ed9cffa18c7875207478,2017-12-29 02:39:37,25.000000,23.09
5,45c780334bc32cb77559a65c5f171160,3,0cf41187284d7f099adc8415a743ebbd,bbad7e518d7af88a0897397ffdca1979,2017-12-29 02:39:37,35.900002,5.77

In [80]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB

In [81]:
sum(items.duplicated())

0

In [82]:
items["order_item_id"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21])

In [83]:
items[items["freight_value"] > items["price"]]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
13,45ccc16a94688d4edb709ff6eba966d5,1,c4ff5e26b621356e9aa18a92f3743d55,d9a84e1403de8da0c3aa531d6d108ba6,2018-03-29 20:31:48,12.900000,18.230000
34,45d708b533e84fc3718ffde7cbbc6537,1,23365beed316535b4105bd800c46670e,92eb0f42c21942b6552362b9b114707d,2017-07-19 02:55:22,12.500000,15.100000
49,45e54aacb62da6bd3c079f5148d52d27,1,ed77034b92386a1a8cfd3c648d715dde,c9c7905cffc4ef9ff9f113554423e671,2018-04-03 10:35:17,14.990000,15.230000
56,45ea696753b4d93fb0cffe87c816a064,1,8cfcfc09db52830c8dab9e5a36d7ae6b,4736e9d642ef4257cd7622516931eb51,2018-08-16 21:30:19,38.000000,121.949997
69,45ee8ea280c9b83f9ca39f76dfe23919,1,43ee88561093499d9e571d4db5f20b79,23613d49c3ac2bd302259e55c06c050c,2018-03-14 21:55:43,10.900000,18.230000
...,...,...,...,...,...,...,...
112383,45287af4d4d9504d6569383cbf95c764,1,20d99367bb5820e9d15aef657b83b5a2,d2374cbcbb3ca4ab1086534108cc3ab7,2018-06-11 17:31:36,15.900000,18.230000
112396,4531bfc9fa7b2b7582a6dfad40fa0215,1,ea8b738ef7a9baaf574870d6041ebf52,8e6cc767478edae941d9bd9eb778d77a,2017-11-30 11:51:41,15.000000,17.600000
112565,458c6e383ce04c24b3033392e56c9283,1,f7f59e6186e10983a061ac7bdb3494d6,729f06993dac8e860d4f02d7088ca48a,2018-07-02 21:51:06,34.900002,48.209999
112582,45942e54bf1edb4b2c481b77f7f8486c,1,9456cf1bbafac590a3b7698a06cb190f,4e06067cc08b3f41d837768d392c3ee3,2018-01-23 19:10:39,7.000000,14.100000
112588,45973eaceb6756a0232ab0c715f77426,1,b88182b83c726595532324fd84ac7db4,b4ffb71f0cb1b1c3d63fad021ecf93e1,2017-12-04 05:50:00,9.200000,15.100000

In [84]:
# order_id in orders table in clean if we merege orders table and items table we'ill get only valid order id
orders = orders.merge(items,on = "order_id", how = "inner" )

In [85]:
orders.sample(10)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type,payment_value,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
109884,adff7b867a7bd97bcf42ddec332f246d,690b3de0e2b6e94ac82eaca053616c23,delivered,2018-04-16 16:45:59,2018-04-16 17:34:20,2018-04-18 18:56:41,2018-04-20 11:33:09,2018-04-26,credit_card,43.290001,1,4b703444923b5e57bb73ba343f5ebab7,42b729f859728f5079499127a9c2ef37,2018-04-20 17:31:13,35.900002,7.39
33828,374fa6a5abe1f7de3edd2add780eb791,fe7abd700836b4f8d8a8a87624f4071a,delivered,2017-05-28 16:05:32,2017-05-30 05:05:21,2017-05-31 11:04:36,2017-06-05 15:08:28,2017-06-21,boleto,110.400002,1,44afebe5ba695261a126f43a4b29d814,520b493b57809f446cb0a233bb3e25c7,2017-06-05 05:05:21,92.500000,17.90
21277,f5662da1743a5f7589fe85510a24e197,d4a2823e14df7fb54dc7316631a5a117,delivered,2017-10-19 00:01:10,2017-10-21 03:07:31,2017-10-21 14:43:30,2017-11-06 19:33:11,2017-11-09,boleto,75.080002,1,84a87daa85c8b432d90bc1baa0cb4388,aafe36600ce604f205b86b5084d3d767,2017-10-26 03:07:31,59.900002,15.18
44009,98c9230069ea6f83d349fbdcac5928ea,2016496924ec7d507078544a9ac7bc30,delivered,2018-02-14 17:14:42,2018-02-16 08:10:38,2018-02-16 22:08:10,2018-02-22 17:28:04,2018-03-08,boleto,35.000000,1,d2b942eacee4eac5f9f86c07ebe45760,ff82e8873fba613f2261a9acc896fd84,2018-02-22 07:10:38,19.900000,15.10
14215,bfb7ce007bc3f08b946a9c620bbf344e,af77f7950abbc218e7256a09728e3486,delivered,2017-07-13 14:07:48,2017-07-14 14:15:12,2017-07-20 18:34:59,2017-07-26 18:59:48,2017-08-07,credit_card,83.230003,1,9fc0c73ce4d0eaaead44e81eeefebeb0,c3867b4666c7d76867627c2f7fb22e21,2017-07-20 14:15:12,68.000000,15.23
67051,2ffc6b5ac3d28600297371ae9a1a960d,009e30667771830117017cf8581b98a5,delivered,2017-09-11 21:44:38,2017-09-13 03:15:19,2017-09-18 21:47:33,2017-09-28 21:39:58,2017-10-06,boleto,77.570000,1,422879e10f46682990de24d770e7f83d,1f50f920176fa81dab994f9023523100,2017-09-19 03:15:19,59.900002,17.67
20309,4c9d3ec7ae34a9dc7654d74bc52134ae,49d2e3e97b7e8a21ce7579620e811031,delivered,2017-11-24 22:21:59,2017-11-28 03:47:14,2017-11-28 16:03:56,2017-12-06 20:53:58,2017-12-19,boleto,68.019997,1,f7a17d2c51d9df89a4f1711c4ac17f33,f8db351d8c4c4c22c6835c19a46f01b0,2017-12-04 03:47:14,52.900002,15.12
10814,739554bca7c0f1d20cf28779b6e37aa4,77455d55caf7492ef02147a2bd543b2a,delivered,2018-07-30 17:47:56,2018-07-30 18:30:49,2018-08-01 09:28:00,2018-08-06 16:14:27,2018-08-03,credit_card,98.370003,1,ab6edd00a29d1e29948284a492497854,d91fb3b7d041e83b64a00a3edfb37e4f,2018-08-02 18:24:30,90.000000,8.37
85065,1b14da7ef108a4bfffbcb8f03d707def,ab521f20fbe5728cb41ce5a50bb1762e,delivered,2017-06-17 15:15:38,2017-06-17 15:42:40,2017-06-20 16:13:04,2017-06-22 16:21:59,2017-06-30,credit_card,176.970001,1,c92f0e7b9d49a9543558d6532772441b,5dceca129747e92ff8ef7a997dc4f8ca,2017-06-22 15:42:40,139.899994,37.07
75622,7ff1a09b20dab40c3d68630eb3b56a22,e731ba7b6903d44433f7cc1161d2f1cb,delivered,2017-08-01 21:07:18,2017-08-01 21:50:13,2017-08-04 19:24:55,2017-08-09 17:42:54,2017-08-21,credit_card,96.239998,2,0be487faac01dd57fd7ed17cfbdf2dee,d2374cbcbb3ca4ab1086534108cc3ab7,2017-08-07 21:50:13,22.900000,12.44

In [40]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112543 entries, 0 to 112542
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       112543 non-null  object
 1   customer_id                    112543 non-null  object
 2   order_status                   112543 non-null  object
 3   order_purchase_timestamp       112543 non-null  datetime64[ns]
 4   order_approved_at              112543 non-null  datetime64[ns]
 5   order_delivered_carrier_date   112542 non-null  datetime64[ns]
 6   order_delivered_customer_date  112543 non-null  datetime64[ns]
 7   order_estimated_delivery_date  112543 non-null  datetime64[ns]
 8   payment_type                   112543 non-null  object
 9   payment_value                  112543 non-null  float64
 10  order_item_id                  112543 non-null  int64
 11  product_id                     112543 non-null  object
 12  seller_id                      112543 non-null  object
 13  shipping_limit_date            112543 non-null  datetime64[ns]
 14  price                          112543 non-null  float64
 15  freight_value                  112543 non-null  float64
dtypes: datetime64[ns](6), float64(3), int64(1), object(6)
memory usage: 13.7+ MB

In [41]:
orders = orders[
(orders["shipping_limit_date"] > orders["order_purchase_timestamp"]) &
(orders["shipping_limit_date"] > orders["order_approved_at"]) &
(orders["shipping_limit_date"] < orders["order_delivered_customer_date"])]

In [42]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
Index: 89004 entries, 0 to 112542
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       89004 non-null  object
 1   customer_id                    89004 non-null  object
 2   order_status                   89004 non-null  object
 3   order_purchase_timestamp       89004 non-null  datetime64[ns]
 4   order_approved_at              89004 non-null  datetime64[ns]
 5   order_delivered_carrier_date   89003 non-null  datetime64[ns]
 6   order_delivered_customer_date  89004 non-null  datetime64[ns]
 7   order_estimated_delivery_date  89004 non-null  datetime64[ns]
 8   payment_type                   89004 non-null  object
 9   payment_value                  89004 non-null  float64
 10  order_item_id                  89004 non-null  int64
 11  product_id                     89004 non-null  object
 12  seller_id                      89004 non-null  object
 13  shipping_limit_date            89004 non-null  datetime64[ns]
 14  price                          89004 non-null  float64
 15  freight_value                  89004 non-null  float64
dtypes: datetime64[ns](6), float64(3), int64(1), object(6)
memory usage: 11.5+ MB

In [43]:
# orders[orders["order_id"] == "ab14fdcfbe524636d65ee38360e22ce8"]

In [44]:
# keeping the count value of item_id to know the quantity of product purchased

In [45]:
df = orders.copy()

In [46]:
aggregation_logic = {
    'order_item_id': 'count',  
    'price': 'sum',              # Totals the cost of all items
    'freight_value': 'sum'      # Totals the shipping cost
}

# 2. Perform the aggregation
orders = orders.groupby(['order_id','customer_id','order_status','order_purchase_timestamp',
                 'order_approved_at','order_delivered_carrier_date','order_delivered_customer_date',
                 'order_estimated_delivery_date','payment_type','payment_value',"product_id",
                 'seller_id','shipping_limit_date']).agg(aggregation_logic).reset_index()

In [146]:
df[df["order_id"] == "8272b63d03f579c56e9e4120aec44ef"]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, payment_type, payment_value, product_id, seller_id, shipping_limit_date, order_item_id, price, freight_value]
Index: []

In [151]:
orders[orders["order_id"] == "28f0558838bcded1adf9bd48f1bdc457"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type,payment_value,product_id,seller_id,shipping_limit_date,order_item_id,price,freight_value
12914,28f0558838bcded1adf9bd48f1bdc457,a5d427408fc3114f56e5b528b65fcb35,delivered,2017-03-28 09:06:23,2017-03-30 02:10:23,2017-04-12 15:35:50,2017-04-13 08:47:27,2017-05-03,boleto,229.899994,aa8d767a6316127a012fc3d16b84dc7f,35ef5aa32949680f627efec3c23e705c,2017-04-05 02:10:23,2,53.799999,52.279999
12915,28f0558838bcded1adf9bd48f1bdc457,a5d427408fc3114f56e5b528b65fcb35,delivered,2017-03-28 09:06:23,2017-03-30 02:10:23,2017-04-12 15:35:50,2017-04-13 08:47:27,2017-05-03,boleto,229.899994,f7c7bd3105bd26ce0de4072af7159f84,d66c305afaec317ebee552073a674429,2017-04-05 02:10:23,1,97.989998,25.840000

In [124]:
orders[orders["order_id"] == "8272b63d03f579c56e9e4120aec44ef"]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, payment_type, payment_value, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value]
Index: []

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81082 entries, 0 to 81081
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       81082 non-null  object
 1   customer_id                    81082 non-null  object
 2   order_status                   81082 non-null  object
 3   order_purchase_timestamp       81082 non-null  datetime64[ns]
 4   order_approved_at              81082 non-null  datetime64[ns]
 5   order_delivered_carrier_date   81082 non-null  datetime64[ns]
 6   order_delivered_customer_date  81082 non-null  datetime64[ns]
 7   order_estimated_delivery_date  81082 non-null  datetime64[ns]
 8   payment_type                   81082 non-null  object
 9   payment_value                  81082 non-null  float64
 10  product_id                     81082 non-null  object
 11  seller_id                      81082 non-null  object
 12  shipping_limit_date            81082 non-null  datetime64[ns]
 13  order_item_id                  81082 non-null  int64
 14  price                          81082 non-null  float64
 15  freight_value                  81082 non-null  float64
dtypes: datetime64[ns](6), float64(3), int64(1), object(6)
memory usage: 9.9+ MB

In [153]:
orders = orders.rename(columns={
    'order_item_id': 'quantity',
    'payment_value' : "total_order_payment"
})

In [154]:
orders["total_product_payment"] = orders["price"] + orders["freight_value"]

In [155]:
orders[orders["order_id"] == "28f0558838bcded1adf9bd48f1bdc457"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type,total_order_payment,product_id,seller_id,shipping_limit_date,quantity,price,freight_value,total_product_payment
12914,28f0558838bcded1adf9bd48f1bdc457,a5d427408fc3114f56e5b528b65fcb35,delivered,2017-03-28 09:06:23,2017-03-30 02:10:23,2017-04-12 15:35:50,2017-04-13 08:47:27,2017-05-03,boleto,229.899994,aa8d767a6316127a012fc3d16b84dc7f,35ef5aa32949680f627efec3c23e705c,2017-04-05 02:10:23,2,53.799999,52.279999,106.079998
12915,28f0558838bcded1adf9bd48f1bdc457,a5d427408fc3114f56e5b528b65fcb35,delivered,2017-03-28 09:06:23,2017-03-30 02:10:23,2017-04-12 15:35:50,2017-04-13 08:47:27,2017-05-03,boleto,229.899994,f7c7bd3105bd26ce0de4072af7159f84,d66c305afaec317ebee552073a674429,2017-04-05 02:10:23,1,97.989998,25.840000,123.829998

In [156]:
orders2 = df.copy()

In [157]:
orders2[orders2["order_id"] == "28f0558838bcded1adf9bd48f1bdc457"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type,payment_value,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
30558,28f0558838bcded1adf9bd48f1bdc457,a5d427408fc3114f56e5b528b65fcb35,delivered,2017-03-28 09:06:23,2017-03-30 02:10:23,2017-04-12 15:35:50,2017-04-13 08:47:27,2017-05-03,boleto,229.899994,1,f7c7bd3105bd26ce0de4072af7159f84,d66c305afaec317ebee552073a674429,2017-04-05 02:10:23,97.989998,25.840000
30559,28f0558838bcded1adf9bd48f1bdc457,a5d427408fc3114f56e5b528b65fcb35,delivered,2017-03-28 09:06:23,2017-03-30 02:10:23,2017-04-12 15:35:50,2017-04-13 08:47:27,2017-05-03,boleto,229.899994,2,aa8d767a6316127a012fc3d16b84dc7f,35ef5aa32949680f627efec3c23e705c,2017-04-05 02:10:23,26.900000,26.139999
30560,28f0558838bcded1adf9bd48f1bdc457,a5d427408fc3114f56e5b528b65fcb35,delivered,2017-03-28 09:06:23,2017-03-30 02:10:23,2017-04-12 15:35:50,2017-04-13 08:47:27,2017-05-03,boleto,229.899994,3,aa8d767a6316127a012fc3d16b84dc7f,35ef5aa32949680f627efec3c23e705c,2017-04-05 02:10:23,26.900000,26.139999

In [158]:
orders.nunique()

order_id                         76530
customer_id                      76530
order_status                         1
order_purchase_timestamp         76199
order_approved_at                71201
order_delivered_carrier_date     65361
order_delivered_customer_date    76031
order_estimated_delivery_date      444
payment_type                         4
total_order_payment              25543
product_id                       27568
seller_id                         2810
shipping_limit_date              72896
quantity                            16
price                             6186
freight_value                     7577
total_product_payment            34915
dtype: int64

In [86]:
orders[orders["order_id"] == "03caa2c082116e1d31e67e9ae3700499"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type,payment_value,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
15093,03caa2c082116e1d31e67e9ae3700499,1617b1357756262bfa56ab541c47bc16,delivered,2017-09-29 15:24:52,2017-10-02 15:28:20,2017-10-10 15:43:17,2017-10-17 18:22:29,2017-10-23,credit_card,13664.080078,1,5769ef0a239114ac3a854af00df129e4,b37c4c02bda3161a7546a4e6d222d5b2,2017-10-06 15:28:20,1680.0,28.01
15094,03caa2c082116e1d31e67e9ae3700499,1617b1357756262bfa56ab541c47bc16,delivered,2017-09-29 15:24:52,2017-10-02 15:28:20,2017-10-10 15:43:17,2017-10-17 18:22:29,2017-10-23,credit_card,13664.080078,2,5769ef0a239114ac3a854af00df129e4,b37c4c02bda3161a7546a4e6d222d5b2,2017-10-06 15:28:20,1680.0,28.01
15095,03caa2c082116e1d31e67e9ae3700499,1617b1357756262bfa56ab541c47bc16,delivered,2017-09-29 15:24:52,2017-10-02 15:28:20,2017-10-10 15:43:17,2017-10-17 18:22:29,2017-10-23,credit_card,13664.080078,3,5769ef0a239114ac3a854af00df129e4,b37c4c02bda3161a7546a4e6d222d5b2,2017-10-06 15:28:20,1680.0,28.01
15096,03caa2c082116e1d31e67e9ae3700499,1617b1357756262bfa56ab541c47bc16,delivered,2017-09-29 15:24:52,2017-10-02 15:28:20,2017-10-10 15:43:17,2017-10-17 18:22:29,2017-10-23,credit_card,13664.080078,4,5769ef0a239114ac3a854af00df129e4,b37c4c02bda3161a7546a4e6d222d5b2,2017-10-06 15:28:20,1680.0,28.01
15097,03caa2c082116e1d31e67e9ae3700499,1617b1357756262bfa56ab541c47bc16,delivered,2017-09-29 15:24:52,2017-10-02 15:28:20,2017-10-10 15:43:17,2017-10-17 18:22:29,2017-10-23,credit_card,13664.080078,5,5769ef0a239114ac3a854af00df129e4,b37c4c02bda3161a7546a4e6d222d5b2,2017-10-06 15:28:20,1680.0,28.01
15098,03caa2c082116e1d31e67e9ae3700499,1617b1357756262bfa56ab541c47bc16,delivered,2017-09-29 15:24:52,2017-10-02 15:28:20,2017-10-10 15:43:17,2017-10-17 18:22:29,2017-10-23,credit_card,13664.080078,6,5769ef0a239114ac3a854af00df129e4,b37c4c02bda3161a7546a4e6d222d5b2,2017-10-06 15:28:20,1680.0,28.01
15099,03caa2c082116e1d31e67e9ae3700499,1617b1357756262bfa56ab541c47bc16,delivered,2017-09-29 15:24:52,2017-10-02 15:28:20,2017-10-10 15:43:17,2017-10-17 18:22:29,2017-10-23,credit_card,13664.080078,7,5769ef0a239114ac3a854af00df129e4,b37c4c02bda3161a7546a4e6d222d5b2,2017-10-06 15:28:20,1680.0,28.01
15100,03caa2c082116e1d31e67e9ae3700499,1617b1357756262bfa56ab541c47bc16,delivered,2017-09-29 15:24:52,2017-10-02 15:28:20,2017-10-10 15:43:17,2017-10-17 18:22:29,2017-10-23,credit_card,13664.080078,8,5769ef0a239114ac3a854af00df129e4,b37c4c02bda3161a7546a4e6d222d5b2,2017-10-06 15:28:20,1680.0,28.01

In [3]:
query2 = "SELECT * FROM olist_orders_dataset"
orders2 = pd.read_sql(query2,conn)

C:\Users\DELL\AppData\Local\Temp\ipykernel_25268\3479338419.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orders2 = pd.read_sql(query2,conn)

In [5]:
orders2.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

In [10]:
orders2.drop( columns = { "customer_id","order_purchase_timestamp","order_approved_at","order_delivered_carrier_date",
                           "order_delivered_customer_date","order_estimated_delivery_date"}, inplace = True)